<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>317</integer>
		<key>title</key>
		<string>上装</string>
		<key>icon</key>
		<string>icon_jacket</string>
		<key>secondClassify</key>
		<array>
			<dict>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>新春上新</string>
						<key>icon</key>
						<string>icon_women_01</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>健身风</string>
						<key>icon</key>
						<string>icon_women_02</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>时尚套装</string>
						<key>icon</key>
						<string>icon_women_03</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>短袖T恤</string>
						<key>icon</key>
						<string>icon_women_04</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>早春外套</string>
						<key>icon</key>
						<string>icon_women_05</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>百搭牛仔裤</string>
						<key>icon</key>
						<string>icon_women_06</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>潮流衬衫</string>
						<key>icon</key>
						<string>icon_women_07</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>气质半身裙</string>
						<key>icon</key>
						<string>icon_women_08</string>
					</dict>
				</array>
				<key>secondTitle</key>
				<string>热卖单品</string>
			</dict>
			<dict>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>连衣裙</string>
						<key>icon</key>
						<string>icon_women_09</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>棉麻连衣裙</string>
						<key>icon</key>
						<string>icon_women_10</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>蕾丝连衣裙</string>
						<key>icon</key>
						<string>icon_women_11</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>雪纺连衣裙</string>
						<key>icon</key>
						<string>icon_women_12</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>背带裙</string>
						<key>icon</key>
						<string>icon_women_13</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>长袖连衣裙</string>
						<key>icon</key>
						<string>icon_women_14</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>吊带连衣裙</string>
						<key>icon</key>
						<string>icon_women_15</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>套装裙</string>
						<key>icon</key>
						<string>icon_women_16</string>
					</dict>
				</array>
				<key>secondTitle</key>
				<string>裙装</string>
			</dict>
			<dict>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>雪纺衫</string>
						<key>icon</key>
						<string>icon_women_17</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>长袖</string>
						<key>icon</key>
						<string>icon_women_18</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>卫衣</string>
						<key>icon</key>
						<string>icon_women_19</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>小西装</string>
						<key>icon</key>
						<string>icon_women_20</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>短套装</string>
						<key>icon</key>
						<string>icon_women_21</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>短外套</string>
						<key>icon</key>
						<string>icon_women_22</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>蕾丝衫</string>
						<key>icon</key>
						<string>icon_women_23</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>打底衫</string>
						<key>icon</key>
						<string>icon_women_24</string>
					</dict>
				</array>
				<key>secondTitle</key>
				<string>上装</string>
			</dict>
			<dict>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>牛仔裤</string>
						<key>icon</key>
						<string>icon_women_25</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>运动裤</string>
						<key>icon</key>
						<string>icon_women_26</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>背带裤</string>
						<key>icon</key>
						<string>icon_women_27</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>阔腿裤</string>
						<key>icon</key>
						<string>icon_women_28</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>九分裤</string>
						<key>icon</key>
						<string>icon_women_29</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>休闲裤</string>
						<key>icon</key>
						<string>icon_women_30</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>哈伦裤</string>
						<key>icon</key>
						<string>icon_women_31</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>小脚裤</string>
						<key>icon</key>
						<string>icon_women_32</string>
					</dict>
				</array>
				<key>secondTitle</key>
				<string>下装</string>
			</dict>
			<dict>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>文胸套装</string>
						<key>icon</key>
						<string>icon_women_33</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>塑身衣</string>
						<key>icon</key>
						<string>icon_women_34</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>运动内衣</string>
						<key>icon</key>
						<string>icon_women_35</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>卡通内衣</string>
						<key>icon</key>
						<string>icon_women_36</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>无痕内衣</string>
						<key>icon</key>
						<string>icon_women_37</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>调整型内衣</string>
						<key>icon</key>
						<string>icon_women_38</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>性感内衣</string>
						<key>icon</key>
						<string>icon_women_39</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>睡衣套装</string>
						<key>icon</key>
						<string>icon_women_40</string>
					</dict>
				</array>
				<key>secondTitle</key>
				<string>内衣</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>319</integer>
		<key>title</key>
		<string>裤子</string>
		<key>icon</key>
		<string>icon_pants</string>
		<key>secondClassify</key>
		<array>
			<dict>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>单肩包</string>
						<key>icon</key>
						<string>icon_Package_Home_1</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>斜挎包</string>
						<key>icon</key>
						<string>icon_Package_Home_2</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>手提包</string>
						<key>icon</key>
						<string>icon_Package_Home_3</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>大包</string>
						<key>icon</key>
						<string>icon_Package_Home_4</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>钱包</string>
						<key>icon</key>
						<string>icon_Package_Home_5</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>双肩包</string>
						<key>icon</key>
						<string>icon_Package_Home_6</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>手机包</string>
						<key>icon</key>
						<string>icon_Package_Home_7</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>旅行箱</string>
						<key>icon</key>
						<string>icon_Package_Home_8</string>
					</dict>
				</array>
				<key>secondTitle</key>
				<string>畅销热卖</string>
			</dict>
			<dict>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>迷你包</string>
						<key>icon</key>
						<string>icon_Package_Home_9</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>小方包</string>
						<key>icon</key>
						<string>icon_Package_Home_10</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>复古包</string>
						<key>icon</key>
						<string>icon_Package_Home_11</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>链条包</string>
						<key>icon</key>
						<string>icon_Package_Home_12</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>小圆包</string>
						<key>icon</key>
						<string>icon_Package_Home_13</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>贝壳包</string>
						<key>icon</key>
						<string>icon_Package_Home_14</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>果冻包</string>
						<key>icon</key>
						<string>icon_Package_Home_15</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>方形包</string>
						<key>icon</key>
						<string>icon_Package_Home_16</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>化妆包</string>
						<key>icon</key>
						<string>icon_Package_Home_17</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>帆布包</string>
						<key>icon</key>
						<string>icon_Package_Home_18</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>菱格包</string>
						<key>icon</key>
						<string>icon_Package_Home_19</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>零钱包</string>
						<key>icon</key>
						<string>icon_Package_Home_20</string>
					</dict>
				</array>
				<key>secondTitle</key>
				<string>人气精选</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>365</integer>
		<key>title</key>
		<string>裙装</string>
		<key>icon</key>
		<string>icon_skirt</string>
		<key>secondClassify</key>
		<array>
			<dict>
				<key>secondTitle</key>
				<string>彩妆</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>唇妆</string>
						<key>icon</key>
						<string>01_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>眼影</string>
						<key>icon</key>
						<string>02_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>粉底</string>
						<key>icon</key>
						<string>03_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>香水</string>
						<key>icon</key>
						<string>04_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>BB霜</string>
						<key>icon</key>
						<string>05_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>睫毛膏</string>
						<key>icon</key>
						<string>06_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>彩妆套装</string>
						<key>icon</key>
						<string>07_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>粉饼</string>
						<key>icon</key>
						<string>08_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>眉笔</string>
						<key>icon</key>
						<string>09_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>眼线</string>
						<key>icon</key>
						<string>10_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>腮红</string>
						<key>icon</key>
						<string>11_meizhung_caizhuang</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>遮瑕笔</string>
						<key>icon</key>
						<string>12_meizhung_caizhuang</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>secondTitle</key>
				<string>护肤</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>精华液</string>
						<key>icon</key>
						<string>01_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>爽肤水</string>
						<key>icon</key>
						<string>02_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>洁面乳</string>
						<key>icon</key>
						<string>03_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>护肤套装</string>
						<key>icon</key>
						<string>04_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>卸妆</string>
						<key>icon</key>
						<string>05_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>眼霜</string>
						<key>icon</key>
						<string>06_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>面膜</string>
						<key>icon</key>
						<string>07_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>丰胸纤体</string>
						<key>icon</key>
						<string>08_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>沐浴露</string>
						<key>icon</key>
						<string>09_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>润唇膏</string>
						<key>icon</key>
						<string>10_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>洗发水</string>
						<key>icon</key>
						<string>11_meizhung_hufu</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>美妆工具</string>
						<key>icon</key>
						<string>12_meizhung_hufu</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>325</integer>
		<key>title</key>
		<string>女鞋</string>
		<key>icon</key>
		<string>icon_shoes</string>
		<key>secondClassify</key>
		<array>
			<dict>
				<key>secondTitle</key>
				<string>经典</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>玉石</string>
						<key>icon</key>
						<string>icon_jewelry_1</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>玛瑙</string>
						<key>icon</key>
						<string>icon_jewelry_2</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>石</string>
						<key>icon</key>
						<string>icon_jewelry_3</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>水晶</string>
						<key>icon</key>
						<string>icon_jewelry_4</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>珠</string>
						<key>icon</key>
						<string>icon_jewelry_5</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>宝</string>
						<key>icon</key>
						<string>icon_jewelry_6</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>翡翠</string>
						<key>icon</key>
						<string>icon_jewelry_7</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>珊瑚</string>
						<key>icon</key>
						<string>icon_jewelry_8</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>secondTitle</key>
				<string>流行必选</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>黄金</string>
						<key>icon</key>
						<string>icon_jewelry_9</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>银</string>
						<key>icon</key>
						<string>icon_jewelry_10</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>白金</string>
						<key>icon</key>
						<string>icon_jewelry_11</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>钻石</string>
						<key>icon</key>
						<string>icon_jewelry_12</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>327</integer>
		<key>title</key>
		<string>内衣</string>
		<key>icon</key>
		<string>icon_underwear</string>
		<key>secondClassify</key>
		<array>
			<dict>
				<key>secondTitle</key>
				<string>热卖品类</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>手表</string>
						<key>icon</key>
						<string>icon_jewelry_Home_01</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>围巾</string>
						<key>icon</key>
						<string>icon_jewelry_Home_02</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>假发</string>
						<key>icon</key>
						<string>icon_jewelry_Home_03</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>帽子</string>
						<key>icon</key>
						<string>icon_jewelry_Home_04</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>眼镜框</string>
						<key>icon</key>
						<string>icon_jewelry_Home_05</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>头饰</string>
						<key>icon</key>
						<string>icon_jewelry_Home_06</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>腰带</string>
						<key>icon</key>
						<string>icon_jewelry_Home_07</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>新娘配饰</string>
						<key>icon</key>
						<string>icon_jewelry_Home_08</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>secondTitle</key>
				<string>本季新品</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>项链</string>
						<key>icon</key>
						<string>icon_jewelry_Home_09</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>戒指</string>
						<key>icon</key>
						<string>icon_jewelry_Home_10</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>手链</string>
						<key>icon</key>
						<string>icon_jewelry_Home_11</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>吊坠</string>
						<key>icon</key>
						<string>icon_jewelry_Home_12</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>手镯</string>
						<key>icon</key>
						<string>icon_jewelry_Home_13</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>脚链</string>
						<key>icon</key>
						<string>icon_jewelry_Home_14</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>耳钉</string>
						<key>icon</key>
						<string>icon_jewelry_Home_15</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>串饰</string>
						<key>icon</key>
						<string>icon_jewelry_Home_16</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>secondTitle</key>
				<string>流行元素</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>简洁</string>
						<key>icon</key>
						<string>icon_jewelry_Home_17</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>甜美</string>
						<key>icon</key>
						<string>icon_jewelry_Home_18</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>几何</string>
						<key>icon</key>
						<string>icon_jewelry_Home_19</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>花冠</string>
						<key>icon</key>
						<string>icon_jewelry_Home_20</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>323</integer>
		<key>title</key>
		<string>包包</string>
		<key>icon</key>
		<string>icon_Package</string>
		<key>secondClassify</key>
		<array>
			<dict>
				<key>secondTitle</key>
				<string>进口食品</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>饼干蛋糕</string>
						<key>icon</key>
						<string>01_import_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>巧克力</string>
						<key>icon</key>
						<string>02_import_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>休闲零食</string>
						<key>icon</key>
						<string>03_import_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>牛奶</string>
						<key>icon</key>
						<string>04_import_food</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>secondTitle</key>
				<string>休闲食品</string>
				<key>thirdClassify</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>零食</string>
						<key>icon</key>
						<string>01_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>坚果</string>
						<key>icon</key>
						<string>02_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>肉脯</string>
						<key>icon</key>
						<string>03_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>果干</string>
						<key>icon</key>
						<string>04_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>花生</string>
						<key>icon</key>
						<string>05_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>布丁果冻</string>
						<key>icon</key>
						<string>06_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>膨化食品</string>
						<key>icon</key>
						<string>07_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>辣条</string>
						<key>icon</key>
						<string>08_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>饼干</string>
						<key>icon</key>
						<string>09_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>奶制品</string>
						<key>icon</key>
						<string>10_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>蜂蜜</string>
						<key>icon</key>
						<string>11_arder_food</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>title</key>
						<string>水果</string>
						<key>icon</key>
						<string>12_arder_food</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
